* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  :root {
    --red: hsl(1, 90%, 64%);
    --blue: hsl(219, 85%, 26%);
    --white: hsl(0, 0%, 100%);
    --vlight-grayblue: hsl(210, 60%, 98%);
    --lgrayish-blue1: hsl(211, 68%, 94%);
    --lgrayish-blue2: hsl(205, 33%, 90%);
    --grayish-blue: hsl(219, 14%, 63%);
    --dgrayish-blue: hsl(219, 12%, 42%);
    --vdark-blue: hsl(224, 21%, 14%);
  }

  p {
    font-size: 16px;
  }

  footer {
    color: #023047;
    font-size: 11px;
    position: fixed;
    left: 0;
    bottom: 0rem;
    width: 100%;
    text-align: center;
  }
  footer a {
    color: hsl(228, 45%, 44%);
  }
  footer:hover {
    -webkit-transition: all .5s;
    transition: all .5s;
    bottom: 0;
  }
  
  footer:not(:hover) {
    -webkit-transition: all .5s;
    transition: all .5s;
  }